<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News blog - Dashboard</title>
    <script src="/client.js" defer></script>
</head>
<body>
    <header>
    <h2>Dashboard</h2>
    <nav>
        <ul>
            <li><a href="/create-post">Create Post</a></li>
        </ul>
    </nav>
    <button id="logoutBtn">Logout</button>

    <script src="/logout.js"></script>
    <script src="/profile.js"></script>
    </header>
    <main>
        <section id="postsList">
          <h2>Latest News Posts</h2>
          <p>See the latest posts from your fellow users!</p>
          <div id="search-container">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_bar" id="search" name="search" type="text" placeholder="Search posts...">
          </div>
          <!-- Container for dynamic posts -->
          <div id="posts"></div>
        </section>
      </main>

</body>
</html>
