
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background: rgb(214, 215, 215);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    padding-left: 80px;
    padding-right: 90px;
}


.login-form h2 {
    margin-bottom: 25px;
    color: #333;
}


.login-input-group {
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.login-input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #666;
}

.login-input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.login-input-group input:focus {
    border-color: #59626c;
    outline: none;
}


.login-btn_wrapper {
    margin-top: 20px;
}


.login-btn_login {
    width: 100%;
    padding: 10px;
    background-color: #828b96;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn_login:hover {
    background-color: #3f454b;
}