{{~ it.posts :p}}
    <article>
        <header>
            {{? p.image_url}}
                 <img crossorigin="anonymous" src="{{=p.image_url}}" alt="{{=p.title}}" style="width:100%">
            {{??}}
                <img crossorigin="anonymous" src="/public/css/418.jpg" alt="Lamp" style="width:100%">
            {{?}}
        </header>
        <a href="/post/blog/{{=p.id}}">{{=p.title}}</a>
        <footer><small>By {{=p.username}}</small></footer>
    </article>
{{~}}
