<input type="text" name="username" placeholder="Username" aria-invalid="true" required>
<input type="password" name="password" placeholder="Password" aria-invalid="true" required>
<small>{{=it.reason}}</small>
<button type="submit">Login</button>
